<a href="https://colab.research.google.com/github/cderamond/mba_UTFSM_finanzas/blob/caso_final/casoFinal%20try1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Actividad 2 (50 puntos)

Descargar desde https://finance.yahoo.com/ los precios históricos mensuales de
10 acciones (marzo 2011 a marzo 2022). Las acciones deben ser (transarse) en
Estados Unidos y como máximo 3 acciones deben corresponder al mismo sector
industrial. A partir de los datos mensuales, las estadísticas de cada acción y la correlación entre cada par de ellas:

In [5]:
# setting environment
import yfinance as yf
import pandas as pd
import numpy as np

#get data function
def get_historical_data(ticker, start_date):
    # Pull Historical Data
    data = yf.download(ticker, start=start_date)
    # Calculate Daily Returns
    data['Daily Return'] = data['Adj Close'].pct_change()   
    return data.dropna()
# std dev calculation
def std_dev(data):
    # Get number of observations
    n = len(data)
    # Calculate mean
    mean = sum(data) / n
    # Calculate deviations from the mean
    deviations = sum([(x - mean)**2 for x in data])
    # Calculate Variance & Standard Deviation
    variance = deviations / (n - 1)
    s = variance**(1/2)
    return s
# Sharpe Ratio From Scratch
def sharpe_ratio(data, risk_free_rate=0.0):
    # Calculate Average Daily Return
    mean_daily_return = sum(data) / len(data)
    # Calculate Standard Deviation
    s = std_dev(data)
    # Calculate Daily Sharpe Ratio
    daily_sharpe_ratio = (mean_daily_return - risk_free_rate) / s
    # Annualize Daily Sharpe Ratio
    sharpe_ratio = 252**(1/2) * daily_sharpe_ratio
    
    return sharpe_ratio

In [9]:
#getting the stock data

KO = get_historical_data('KO', start_date='2011-03-01')
KO

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume,Daily Return
Date,,,,,,,
2011-03-02,32.294998,32.410000,32.064999,32.215000,22.716511,20776000,-0.007395
2011-03-03,32.395000,32.939999,32.389999,32.785000,23.118448,29005800,0.017694
2011-03-04,32.695000,32.775002,32.384998,32.605000,22.991522,23050800,-0.005490
2011-03-07,32.660000,32.869999,32.240002,32.610001,22.995043,23630000,0.000153
2011-03-08,32.700001,32.919998,32.610001,32.820000,23.143135,20717600,0.006440
...,...,...,...,...,...,...,...
2022-03-30,62.009998,62.209999,61.560001,62.209999,62.209999,13641000,0.000804
2022-03-31,62.220001,62.639999,62.000000,62.000000,62.000000,16822900,-0.003376
2022-04-01,62.330002,62.950001,62.090000,62.869999,62.869999,12643000,0.014032
2022-04-04,62.599998,62.790001,61.720001,62.540001,62.540001,11505800,-0.005249
2022-04-05,62.400002,63.235001,62.369999,62.470001,62.470001,15593975,-0.001119

## A) Describa los principales negocios, riesgos e industria a la que pertenece.

## B) Determine la rentabilidad y riesgo del portafolio invirtiendo 10% en cada acción.

## C) Determine el portafolio de mínima varianza.

## D) Determine el portafolio óptimo Sharpe (determine Rf según el mercado seleccionado y justifique el valor calculado).


## E) Determine la frontera eficiente de riesgo retorno (10 puntos al menos) e identifique en el gráfico los resultados obtenidos de las letras B), C) y D). Comente.