<a href="https://colab.research.google.com/github/cderamond/mba_UTFSM_finanzas/blob/caso_final/casoFinal.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Actividad 2 (50 puntos)

Descargar desde https://finance.yahoo.com/ los precios históricos mensuales de
10 acciones (marzo 2011 a marzo 2022). Las acciones deben ser (transarse) en
Estados Unidos y como máximo 3 acciones deben corresponder al mismo sector
industrial. A partir de los datos mensuales, las estadísticas de cada acción y la correlación entre cada par de ellas:

In [ ]:
!pip install yfinance --upgrade --no-cache-dir
!pip install PyPortfolioOpt

In [2]:
# setting environment
import numpy as np
import yfinance as yf
import datetime as dt
import pandas as pd

In [4]:
# bajar stock data
tickers = ['AAPL', 'MSFT', 'GOOGL', 'TSLA', 'KO', 'AMZN', 'GM', 'F', 'BRK-B', 'DIS']
start_date = '2011-03-01'
end_date = '2022-03-30'

# bajamos la data de todas las acciones
data = yf.download(tickers, start_date, end_date, group_by='ticker')
# ahora las del SP500, VOO ETF como benchmark
sp= yf.download('VOO', start_date, end_date, group_by='ticker')

[*********************100%***********************]  10 of 10 completed
[*********************100%***********************]  1 of 1 completed

In [95]:
# filtrar los datos
dataadj = data.loc[:,(slice(None),'Adj Close')]
# revisar la estructura de datos
dataadj.dtypes

GM     Adj Close    float64
AMZN   Adj Close    float64
BRK-B  Adj Close    float64
F      Adj Close    float64
TSLA   Adj Close    float64
KO     Adj Close    float64
AAPL   Adj Close    float64
GOOGL  Adj Close    float64
DIS    Adj Close    float64
MSFT   Adj Close    float64
dtype: object

In [96]:
# cambio porcentual
dataadj = (dataadj.pct_change()
            .dropna()
            )
dataadj

,GM,AMZN,BRK-B,F,TSLA,KO,AAPL,GOOGL,DIS,MSFT
,Adj Close,Adj Close,Adj Close,Adj Close,Adj Close,Adj Close,Adj Close,Adj Close,Adj Close,Adj Close
Date,,,,,,,,,,
2011-03-02,-0.002124,0.015227,-0.002698,0.000000,0.003342,-0.007395,0.008044,0.000050,0.006978,-0.003058
2011-03-03,0.004562,0.004476,0.019760,0.006821,0.014155,0.017694,0.021129,0.014597,0.018018,0.004601
2011-03-04,-0.019376,-0.006482,-0.013841,-0.023035,0.024220,-0.005490,0.001224,-0.014666,-0.011799,-0.009542
2011-03-07,-0.021303,-0.015087,-0.005380,-0.028433,-0.000401,0.000153,-0.012889,-0.014918,-0.012170,-0.008863
2011-03-08,0.032177,-0.012952,0.015404,0.032834,-0.011227,0.006440,0.001125,0.001099,0.004184,0.007387
...,...,...,...,...,...,...,...,...,...,...
2022-03-23,-0.017505,-0.008982,-0.005058,-0.023991,0.005161,-0.006579,0.008234,-0.011386,-0.017629,-0.015030
2022-03-24,0.013020,0.001478,0.012092,0.008993,0.014823,0.009603,0.022678,0.023840,0.009590,0.015393
2022-03-25,-0.015783,0.006868,0.018134,-0.021390,-0.003235,0.009019,0.003734,0.000713,0.001295,-0.001381
2022-03-28,0.013058,0.025593,0.002258,0.012143,0.080345,0.006338,0.005037,-0.001535,-0.003019,0.023117
2022-03-29,0.046133,0.001920,-0.012376,0.064787,0.007080,0.003876,0.019134,0.007423,0.026384,0.015159

Date
2011-03-01         NaN
2011-03-01         NaN
2011-03-01         NaN
2011-03-01         NaN
2011-03-01         NaN
2011-03-01         NaN
2011-03-01         NaN
2011-03-01         NaN
2011-03-01         NaN
2011-03-01         NaN
2011-03-02    0.008044
2011-03-02    0.015227
2011-03-02   -0.002698
2011-03-02    0.006978
2011-03-02    0.000000
2011-03-02   -0.002124
2011-03-02    0.000050
2011-03-02   -0.007395
2011-03-02   -0.003058
2011-03-02    0.003342
Name: Adj Close, dtype: float64

## A) Describa los principales negocios, riesgos e industria a la que pertenece.

## B) Determine la rentabilidad y riesgo del portafolio invirtiendo 10% en cada acción.

## C) Determine el portafolio de mínima varianza.

## D) Determine el portafolio óptimo Sharpe (determine Rf según el mercado seleccionado y justifique el valor calculado).


## E) Determine la frontera eficiente de riesgo retorno (10 puntos al menos) e identifique en el gráfico los resultados obtenidos de las letras B), C) y D). Comente.