<a href="https://colab.research.google.com/github/cderamond/mba_UTFSM_finanzas/blob/caso_final/casoFinal.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Actividad 2 (50 puntos)

Descargar desde https://finance.yahoo.com/ los precios históricos mensuales de
10 acciones (marzo 2011 a marzo 2022). Las acciones deben ser (transarse) en
Estados Unidos y como máximo 3 acciones deben corresponder al mismo sector
industrial. A partir de los datos mensuales, las estadísticas de cada acción y la correlación entre cada par de ellas:

In [ ]:
!pip install yfinance --upgrade --no-cache-dir

In [13]:
# setting environment
import numpy as np
import yfinance as yf
import datetime as dt
import pandas as pd

In [18]:
#getting the stock data
tickers = ['AAPL', 'MSFT', 'GOOGL', 'TSLA', 'KO', 'AMZN', 'GM', 'F', 'BRK-B', 'DIS']
start_date = '2011-03-01'
end_date = '2022-03-30'

data = yf.download(tickers, start_date, end_date, group_by='ticker')

[*********************100%***********************]  10 of 10 completed

In [24]:
data.head()

             TSLA                                                MSFT  \
             Open   High    Low  Close Adj Close    Volume       Open
Date
2011-03-01  4.810  4.864  4.740  4.788     4.788   5532000  26.600000
2011-03-02  4.764  4.856  4.746  4.804     4.804   3316500  26.110001
2011-03-03  4.896  4.958  4.812  4.872     4.872   3201000  26.260000
2011-03-04  4.896  4.998  4.756  4.990     4.990   7900500  26.219999
2011-03-07  4.986  5.080  4.940  4.988     4.988  10168000  26.129999

                                             ...         GM             \
                 High        Low      Close  ...        Low      Close
Date                                         ...
2011-03-01  26.780001  26.150000  26.160000  ...  32.430000  32.950001
2011-03-02  26.370001  26.040001  26.080000  ...  32.590000  32.880001
2011-03-03  26.400000  26.180000  26.200001  ...  32.650002  33.029999
2011-03-04  26.240000  25.799999  25.950001  ...  32.009998  32.389999
2011-03-07  26.270000  25.549999  25.719999  ...  31.520000  31.700001

                                      AAPL                                   \
            Adj Close    Volume       Open       High        Low      Close
Date
2011-03-01  25.466845  27321600  12.695357  12.704286  12.417143  12.475357
2011-03-02  25.412746  14306700  12.498571  12.655357  12.442857  12.575714
2011-03-03  25.528679  17614800  12.756786  12.849643  12.711429  12.841429
2011-03-04  25.034027  24240900  12.859643  12.867500  12.776786  12.857143
2011-03-07  24.500729  15077100  12.907143  12.916786  12.546786  12.691429


            Adj Close     Volume
Date
2011-03-01  10.682329  456136800
2011-03-02  10.768260  602590800
2011-03-03  10.995788  500788400
2011-03-04  11.009242  453266800
2011-03-07  10.867343  546123200

[5 rows x 60 columns]

## A) Describa los principales negocios, riesgos e industria a la que pertenece.

## B) Determine la rentabilidad y riesgo del portafolio invirtiendo 10% en cada acción.

## C) Determine el portafolio de mínima varianza.

## D) Determine el portafolio óptimo Sharpe (determine Rf según el mercado seleccionado y justifique el valor calculado).


## E) Determine la frontera eficiente de riesgo retorno (10 puntos al menos) e identifique en el gráfico los resultados obtenidos de las letras B), C) y D). Comente.