<a href="https://colab.research.google.com/github/cderamond/mba_UTFSM_finanzas/blob/caso_final/casoFinal.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Actividad 2 (50 puntos)

Descargar desde https://finance.yahoo.com/ los precios históricos mensuales de
10 acciones (marzo 2011 a marzo 2022). Las acciones deben ser (transarse) en
Estados Unidos y como máximo 3 acciones deben corresponder al mismo sector
industrial. A partir de los datos mensuales, las estadísticas de cada acción y la correlación entre cada par de ellas:

In [ ]:
!pip install yfinance --upgrade --no-cache-dir

In [13]:
# setting environment
import numpy as np
import yfinance as yf
import datetime as dt
import pandas as pd

In [39]:
#getting the stock data
tickers = ['AAPL', 'MSFT', 'GOOGL', 'TSLA', 'KO', 'AMZN', 'GM', 'F', 'BRK-B', 'DIS']
start_date = '2011-03-01'
end_date = '2022-03-30'

# bajamos la data de todas las acciones
data = yf.download(tickers, start_date, end_date, group_by='ticker')
# ahora las del SP500, VOO ETF como benchmark
sp= yf.download('VOO', start_date, end_date, group_by='ticker')

[*********************100%***********************]  10 of 10 completed
[*********************100%***********************]  1 of 1 completed

In [41]:
# ahora ajustamos el data frame con el precio de cierre ajustado
dataadj = data.stack(level=0).rename_axis(['Date', 'Ticker']).reset_index(level=1)
#sp = sp.stack(level=0).rename_axis(['Date', 'Ticker']).reset_index(level=1)
sp = sp[['Adj Close']]
dataadj = dataadj[['Ticker','Adj Close']]

             Adj Close
Date
2011-03-01   96.746788
2011-03-02   97.021599
2011-03-03   98.686577
2011-03-04   97.959160
2011-03-07   97.102425
...                ...
2022-03-23  407.955994
2022-03-24  414.019989
2022-03-25  416.119995
2022-03-28  418.989990
2022-03-29  424.290009

[2790 rows x 1 columns]

## A) Describa los principales negocios, riesgos e industria a la que pertenece.

## B) Determine la rentabilidad y riesgo del portafolio invirtiendo 10% en cada acción.

## C) Determine el portafolio de mínima varianza.

## D) Determine el portafolio óptimo Sharpe (determine Rf según el mercado seleccionado y justifique el valor calculado).


## E) Determine la frontera eficiente de riesgo retorno (10 puntos al menos) e identifique en el gráfico los resultados obtenidos de las letras B), C) y D). Comente.